@media (min-width: 1024px) {
    body, header {
        max-width: 1300px;
        font-size: 20px;
        background: url(../assets/backgrounds/background-web-app.svg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    #home header .logo {
        font-size: 20px;
    }
    
    #home header #hamburguer,
    #home header #close { 
        height: 36px;
        width: 44px;
    }
    
    /* .nav-fullscreen {
        width: 70%;
        height: 30px;
        box-shadow: none;  
        top: 1vh;
        right: 3%;
        align-items: flex-end;
    }
    
    .navlist-fullscreen {
        flex-direction: row;
        display: flex;
        font-weight: 300;
    } */

    #home header nav ul li {
        padding: 18px 3px;
        border-bottom: 1px solid #1C82AD;
    }

    #home header nav ul li a {
        font-size: 18px;
        padding: 10px;
        margin: 20px;
    }

    .scroll-box {
        margin: 2em;
    }

    .scroll-box p {
        font-size: 20px;
    }

    .active{
        border-bottom: 1px solid #03C988;
        transition: .5s;
    }

    main .img-personal img {
        width: 200px;
        height: 200px;
    }

    .name-container {
        margin-top: 30px;
    }

    .title{
        font-size: 24px;
        font-weight: 600;
    }

    #about {
        margin: auto;
        justify-content: space-around;
        width: 80%;
    }

    .skills-section {
        margin-top: 0;
    }

    #portfolio {
        margin-top: 0;
    }

    .portfolio-container {
        margin-top: 10px;
    }

    .portfolio-card {
        width: 40%;
        margin: 20px auto;
        margin: 30px auto;
    }

    .text-container {
        height: 15%;
    }
    
    .portfolio-card:hover .text-container {
        height: 28%;
    }

    #formation {
        margin-top: 8em;
    }   

    .formation-container {
        margin: 2em 0;
        flex-direction: row;
        gap: 3em;
    }
    
    #contact {
        margin-top: 5em;
    }
    
    form,
    #contact p {
        width: 50%;
    }

    .scroll-box a .up-arrow {
        width: 38.3px;
        height: 38.3px;
        margin-bottom: 3em;
    }

    .footer, 
    .footer .social-media {
        gap: 1em;
    }

    .footer {
        display: flex;
        justify-content: center;
    }

}