@media (min-width: 768px) and (max-width: 1023px) {
    body, header {
        background: url(../assets/backgrounds/background-tablet.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }

    header {
        max-width: 100%;
    }

    #home header .logo {
        font-size: 22px;
    }

    #home header #hamburguer,  
    #home header #close { 
        height: 33px;
        width: 40px;
    }

    #home .img-personal img {
        width: 180px;
        height: 180px;
    }

    #home .name-container {
        margin-top: 15px;
    }

    .scroll-box a {
        margin-top: 12px;
    }

    .title {
        font-size: 20px;
        font-weight: 400;
    }

    #about {
        margin: auto;
        justify-content: space-around;
        width: 80%;
    }

    .skills-section,
    #portfolio {
        margin-top: 0;
    }

    .portfolio-card {
        width: 50%;
    }
 
    .text-container {
        height: 15%;
    }
    
    .portfolio-card:hover .text-container {
        height: 30%;
    }

    .formation-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .formation-card {
        width: 45%;
        height: 220px;
    }
    
    #contact {
        margin-top: 3em;
        width: 70%;
        padding-bottom: 3em;
    }

    .form {
        width: 100%;
    }

    footer .footer-name { 
        width: 100%;
    }
    
    footer .up-arrow-box {
        vertical-align: auto;
    }
    
    footer .footer-name {
        text-align: center;
    }
    
}
